@import "components/_reset";
@import "components/_header";
@import "helpers/_var";
@import "components/answer/_answerContainer";

*{
  font-family: 'Roboto', sans-serif !important;
}

section{
  height: 95vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
}
.title{
  height: 100px;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}