section.container
  height: 95vh

section.container.notFound
  display: flex
  justify-content: center
  align-items: center

section.container .score
  font-size: 80px
  font-weight: bold
  color: $green
  height: 100%
  display: flex
  justify-content: center
  align-items: center
